:root {

/* Colors: */
--mmb-black: #111111;
--light-grey: #EFEFEF;
--white: #FFFFFF;
--mmb-grey: #B2B2B2;
--mmb-red: #EA2428;
--mmb-blue: #00BAD8;
--unnamed-color-707070: #707070;

/* Font/text values */
--unnamed-font-family-montserrat: Montserrat;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-24: 24px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-45: 45px;
--unnamed-font-size-60: 60px;
--unnamed-font-size-93: 93px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-37: 37px;
--unnamed-line-spacing-60: 60px;
--unnamed-line-spacing-93: 93px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-60);
line-height: var(--unnamed-line-spacing-93);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--mmb-grey);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-60);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-93);
line-height: var(--unnamed-line-spacing-93);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-45);
line-height: var(--unnamed-line-spacing-60);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-37);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);
}