
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
  }
  /* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
    /* CSS Variables */
    :root {
    --mmb-black: #111111;
    --light-grey: #EFEFEF;
    --white: #FFFFFF;
    --mmb-grey: #B2B2B2;
    --mmb-red: #EA2428;
    --mmb-blue: #00BAD8;
    --mmb-color-707070: #707070;
    --mmb-font-family-montserrat: Montserrat;
    --mmb-font-style-normal: normal;
    --mmb-font-weight-bold: bold;
    --mmb-font-weight-medium: medium;
    --mmb-font-weight-normal: normal;
    --mmb-font-size-24: 24px;
    --mmb-font-size-30: 30px;
    --mmb-font-size-45: 45px;
    --mmb-font-size-60: 60px;
    --mmb-font-size-93: 93px;
    --mmb-character-spacing-0: 0px;
    --mmb-line-spacing-37: 37px;
    --mmb-line-spacing-60: 60px;
    --mmb-line-spacing-93: 93px;
    --nav-content-width: 1000px;
    --nav-height: 121px;
    --nav-link-height: 16px;
    --nav-font-color: #FFF;
    --link-hover-color: #28D;

      }
      body {
        font-family: "Roboto", sans-serf;
      }
      ul li {
        list-style-type: none;
      }
      
      a {
        text-decoration: none;
      }
      
      a:hover {
        color: var(--secondary-color);
      } 
      .top-bar h1{
        font-size: 20px;
      
      }
      .top-bar{
        background-color: var(--mmb-red);
        opacity: 1;
        width: 100%;
        height: 70px;
        top: 0px;
      }
      .top-bar h1 {
        font-size: 20px;
        color: var(--white);
        font-family: var(--mmb-font-family-montserrat);
        font-weight: 600;
        text-transform: capitalize;
        margin: 20px 0 20px 15px;
    }
    .top-bar img {
      margin: 20px 0 20px 15px;
    }
    .top-bar-content{
      display: flex;
      justify-content: right;
      padding-right: 50px; 
    }
  
    @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
      .top-bar h1 {
        font-size: 17px;
    }
    }

    .navigation {
      height: var(--nav-height);
      background: var(--white);
      box-shadow: 0 4px 13px rgb(0 0 0 / 5%);
      position: sticky;
  }
    
    /* Logo + navigation bar, restricted width */
    .nav-container {
      max-width: var(--nav-content-width);
      margin: 0 auto;
    }

    /* Logo */
    .brand img {
      position: absolute;
      padding-top: 40px;
      left: 168px;
      height: 88px;
    }
    @media (min-width: 481px) and (max-width: 768px){
      .brand img {
        position: absolute;
        margin-left: 30px;
        left: 2px;
        width: auto;
      }
      nav{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      }
      .button{
        width: 80%;
      }
  }
  @media (min-width: 280px) and (max-width: 320px){
    .brand img {
      position: absolute;
      margin-left: 15px;
      left: 2px;
      width: 45%;
    }
    nav{
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    .button{
      width: 80%;
    }
}
  @media (min-width: 320px) and (max-width: 480px){
    .brand img {
      position: absolute;
      margin-left: 30px;
      left: 2px;
      width: 45%;
    }
    nav{
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    .button{
      width: 80%;
    }
}
    @media (min-width: 768px) and (max-width: 1024px){
      .brand img {
        position: absolute;
        margin-left: 30px;
        left: 2px;
        width: auto;
      }
  }
  @media (min-width: 1025px) and (max-width: 1280px){
    .brand img {
      position: absolute;
      margin-left: 30px;
      left: auto;
    }
}
    @media (max-width: 798px) {
      .top-bar{
      display: none;
    }
  }
    .brand a,
    .brand a:visited {
      color: var(--mmb-blue);
      text-decoration: none;
    }
    
    /* Navigation bar */
    nav {
      width: 100%;
      padding: var(--nav-height) 0 15px;
    }
    nav .active {
      display: block;
    }
    /* 1st level */
    nav > ul {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav > ul > li {
      float: none;
      position: relative;
    }
    nav > ul > li a,
    nav > ul > li a:visited {
      display: block;
      padding: 15px;
      font-size: 20px;
      font-weight: 800;
      text-align: left;
      line-height: var(--nav-link-height);
      color: var(--mmb-blue);
      font-family: var(--mmb-font-family-montserrat);
      text-decoration: none;
    }
    nav > ul > li a:hover,
    nav > ul > li a:visited:hover {
      background: var(--white);
      color: var(--mmb-blue);
    }
    nav > ul > li a:not(:only-child):after,
    nav > ul > li a:visited:not(:only-child):after {
      padding-left: 4px;
      content: '\25BC';
    }
    /* 2nd level */
    nav > ul > li > ul {
      position: static;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 1;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
    nav > ul > li > ul > li {
      min-width: 190px;
    }
    nav > ul > li > ul > li a {
      padding: 15px 15px 15px 30px;
      line-height: var(--nav-link-height);
    }
  .button {
    background-color: var(--mmb-red);
    border: none;
    margin: 42px 5px;
    width: 100%;
    padding: 14px;
    font-size: 20px;
    border-radius: 30px;
    color: var(--white);
    font-family: var(--mmb-font-family-montserrat);
    font-weight: 800;
  }  
    /* Mobile navigation */
    .nav-mobile {
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
      background: var(--nav-background);
      height: var(--nav-height);
      width: var(--nav-height);
    }
    #nav-ham {
      position: absolute;
      left: 8px;
      top: 14px;
      cursor: pointer;
      padding: 10px 35px 10px 0px;
    }
    #nav-ham span,
    #nav-ham span:before,
    #nav-ham span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: var(--mmb-red);
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    #nav-ham span:before {
      top: -10px;
    }
    #nav-ham span:after {
      bottom: -10px;
    }
    #nav-ham.active span {
      background-color: transparent;
    }
    #nav-ham.active span:before,
    #nav-ham.active span:after {
      top: 0;
    }
    #nav-ham.active span:before {
      transform: rotate(45deg);
    }
    #nav-ham.active span:after {
      transform: rotate(-45deg);
    }
    
    @media screen and (min-width: 799px)  {
      nav {
        float: right;
        width: auto;
        padding: 0;
      }
      /* 1st level */
      nav > ul {
        display: block !important;
      }
      nav > ul > li {
        float: left;
      }
      nav > ul > li a,
      nav > ul > li a:visited {
        padding: 9px 25px 10px 0;
        line-height: var(--nav-height);
      }
      /* 2nd level */
      nav > ul > li > ul {
        position: absolute;
        display: none;
      }
      nav > ul > li > ul > li a {
        padding: 15px;
      }
      .nav-mobile {
        display: none;
      }
    }
    .left-side iframe{
      box-shadow: 0px 3px 6px #00000080;
      border-radius: 56px;
      width:538px;
      height:306px;
    }
    .header{
      display: flex;
      flex-direction: row;
      margin: 50px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .left-side {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(40% - 60px);
      margin: 20px 100px;
    }
    .title-text{
      font-size: var(--mmb-font-style-normal);
      font-weight: 600;
      padding-top: 55px;
      text-align: left;
      letter-spacing: 1.7px;
      font-size: 28px;
      color: var(--mmb-red);
      font-family: var(--mmb-font-family-montserrat);
    }
    .intro-text{
      color: var(--mmb-blue);
      font-size: 50px;
      text-align: left;
      font-family: var(--mmb-font-family-montserrat);
      font-weight: 700;
    }
   h3 {
      font-family: var(--mmb-font-family-montserrat);
      max-width: 60%;
      text-align: left;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        .left-side{
          margin: 20px 60px;
        }
        .left-side iframe {
          margin-top: 100px;

        }
        .header{
          flex-flow: row;
          margin: 0;
        }
        h3{
          max-width: none;
        }

    }
    @media (min-width: 1025px) and (max-width: 1562px){
     .left-side{
      margin: 20px 60px;
    }
    .left-side iframe {
      margin-top: 40px;

    }
    .header{
      flex-flow: row;
      margin: none;
    }
    h3{
      max-width: none;
    }
}
@media (max-width: 480px) and (max-width: 767px){
  .left-side{
    flex-basis: fit-content;
    margin: 20px 20px
  }
  .title-text{
    text-align: center;
  }
  .intro-text{
    text-align: center;
  }
 .sent{
    max-width: 100%;
    text-align: center;
  }
  .header{
    margin: 20px;
  }
  .left-side iframe {
    margin-top: 40px;
    width: 398px;
    height: 306px;
  }
  }
  @media (min-width: 320px) and (max-width: 479px) {
    .left-side{
      flex-basis: fit-content;
      margin: 20px 35px;
    }
    .title-text{
      text-align: center;
    }
    .intro-text{
      text-align: center;
    }
   .sent{
      max-width: 100%;
      text-align: center;
    }
    .header{
      margin: 20px;
    }
    .left-side iframe {
      margin-top: 40px;
      width: 300px;
      height: 306px;
    }  
  }
  
  .todo{
    color: var(--mmb-black);
    font-size: 29px;
    font-weight: var(--mmb-font-weight-bold);
    font-style: var(--mmb-font-style-normal);
    font-family: var(--mmb-font-family-montserrat);
  }
.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.heading .action-button{
  background: var(--mmb-red) 0% 0% no-repeat padding-box;
  width: 60%;
  color: white;
  font-family: var(--mmb-font-family-montserrat);
  height: 75px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-left: 10em;
  box-shadow: 0px 3px 6px #00000075;
  border: 1px solid #00000075;
  border-radius: 20px;
  font-size: 29px;
}

.row {
  display: flex;
    justify-content: space-evenly;
  flex-flow: wrap;
}

.card {
  width: 20%;
  height: 141px;
  background:var(--mmb-blue);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 10px;
  margin-bottom: 50px;
  transition: 0.3s;
}
.card p {
  text-align: center;
  color: var(--white);
  font-size: 22px;
  padding: 18px;
  font-family: var(--mmb-font-family-montserrat);
  font-weight: var(--mmb-font-weight-bold);
}
.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #ff41ff, #ff4b2b);
  color: #fff;
}

.card-body {
  /* padding: 30px 20px; */
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff41ff, #ff4b2b);
  text-decoration: none;
  margin-top: 30px;
  padding: 10px 5px;
  transition: 0.3s;
}

.card-body .btn:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Responsive media queries */

@media screen and (max-width: 1000px) {
  .card {
    width: 30%;
  }
  .heading .action-button{
    padding: 20px;
    margin-left: 6em;
    font-size: 16px;
    height: 100px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 30px;
  }
  .heading .action-button{
    padding: 20px;
    margin-left: 4em;
    font-size: 16px;
    height: 100px;
  }

  .card {
    width: 80%;
  }
}

.icons{ 
  color: var(--mmb-blue);
  text-align: center;
 }
 .icon{
  color: white;
  text-align: center;
  margin-left:40px;
 }
 .fa-5x::after {
  font-size: 4em;
}
.heading h1{
  font-family: var(--mmb-font-family-montserrat);
  color: var(--mmb-black);
  text-align: center;
  color: #111111;
  opacity: 1;
  font-size: 20px;
  margin: 10px;

}
.typography{
  font-size: 20px;
  max-width: fit-content;
}

.gallery .one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/homecare-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/tele.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/images/clinicvisit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/jobs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/emr-phr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-cell {
  width: 35%;
  height: 450px;
  margin-right: 20px;
  box-shadow: 0px 0px 8px #00000063;
  border-radius: 65px;
  opacity: 1;
}
@media (min-width: 320px) and (max-width: 480px) {
  .gallery-cell{
  width: 60%;
  height: 280px;
  border-radius: 45px;
  font-size: 30px;
  }
}
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.gallery p{
  color: var(--white);
  padding-top: 220px;
  font-family: var(--mmb-font-family-montserrat);
  font-weight: var(--mmb-font-weight-bold);
  font-size: 30px;
}
.flickity-page-dots .dot{
  background: var(--mmb-blue) !important;

}
.flickity-page-dots {
  bottom: -45px !important;
}

    
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.pricing{
	min-height: 100vh;
	padding: 100px 0;
	--color-1:#5b58e8;
	--color-2:#ffc600;
	--color-3:#fc3c7f;
	--color-4:#3fb7ef;
}
.pricing .switch-table{
	width: 100%;
	padding:0 15px;
	text-align: center;
	margin-bottom: 35px;
}
.pricing .switch-table div,
.pricing .switch-table .custom-switch{
	display: inline-block;
}
.pricing .switch-table .text-monthly,
.pricing .switch-table .text-yearly{
	color: #ffffff;
	text-transform: capitalize;
	font-size: 18px;
	transition: color 0.3s ease;
}
.pricing .pricing-main:not(.active) .switch-table .text-monthly,
.pricing .pricing-main.active .switch-table .text-yearly{
	color: var(--color-4);
}
.pricing .switch-table .custom-switch{
	height: 40px;
	width: 100px;
	background-color: var(--color-4);
	border-radius: 30px;
	vertical-align: middle;
	margin:0 10px;
	position: relative;
	cursor: pointer;
}
.pricing .switch-table .toggle-switch{
	position: absolute;
	left:-9999px;
}
.pricing .switch-table .custom-switch span{
	display: inline-block;
	height: 28px;
	width: 28px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	left:6px;
	top:6px;
	transition: left 0.5s ease;
}
.pricing .pricing-main.active .switch-table .custom-switch span{
    left: calc(100% - 34px);
}
.pricing .pricing-table{
	background-color: #ffffff;
	width: calc((100% / 3) - 30px);
	margin:0 15px;
	border-radius: 10px;
	overflow: hidden;
  box-shadow: 0px 3px 12px #000000db;
}
.pricing .pricing-table-header{
	padding: 15px 100px;
  color: var(--mmb-blue);
}
.pricing .style-1 .pricing-table-body ul li i.fa-check,
.pricing .style-1 .pricing-table-footer a,
.pricing .style-1 .pricing-table-header{
  background: var(--mmb-red)
}
.pricing .style-2 .pricing-table-body ul li i.fa-check,
.pricing .style-2 .pricing-table-footer a,
.pricing .style-2 .pricing-table-header{
   background-color: var(--mmb-blue);
   border: 1px solid var(--unnamed-color-707070);
}
.pricing .style-3 .pricing-table-body ul li i.fa-check,
.pricing .style-3 .pricing-table-footer a,
.pricing .style-3 .pricing-table-header{
   background-color: var(--mmb-red);
}
.pricing .pricing-table-header h3{
	font-size: 30px;
	color: var(--white);
	text-transform: capitalize;
	font-weight: 600;
	text-align: center;
}
.pricing .pricing-table-price{
	padding: 20px 0;
	display: flex;
}
.pricing .yearly-price,
.pricing .monthly-price{
	display: flex;
	padding: 0 30px;
	justify-content: center;
	width: 100%;
	flex-shrink: 0;
	transition: all 0.5s ease;
}
.pricing .pricing-main.active .yearly-price,
.pricing .pricing-main.active .monthly-price{
   transform: translateX(-100%);
}

.pricing .pricing-table-price .currency{
	font-size: 25px;
	color: #555555;
	font-weight: 700;
	line-height: 1;
}
.pricing .pricing-table-price .amount{
  background: var(--mmb-red);
  padding: 65px 30px;
  color: var(--white);
  font-family: var(--mmb-font-family-montserrat);
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  display: block;
  width: 65%;
  height: 170px;
  box-shadow: 0px 3px 6px #0000006e;
  opacity: 1;
}

.pricing .pricing-table-body{
	padding:0 30px;
}
.pricing .pricing-table-body ul li{
	font-weight: 300;
	color: black;
	margin-bottom: 15px;
	position: relative;
	padding-left: 30px;
  font-family: sans-serif;
}
.pricing .monthly-features,
.pricing .yearly-features{
	display: none;
}
.pricing .pricing-main:not(.active) .monthly-features,
.pricing .pricing-main.active .yearly-features{
   display: block;
   animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.pricing .pricing-table-body ul li:last-child{
	margin-bottom: 0;
}
.pricing .pricing-table-body ul li i{
	display: flex;
	height: 20px;
	width: 20px;
	background-color: var(--mmb-red);
	color: #ffffff;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 13px;
	position: absolute;
	left:0;
	top:3px;
}
.pricing .pricing-table-footer{
	padding: 30px;
	text-align: center;
}
.pricing .pricing-table-footer a{
	display: inline-block;
	padding: 12px 35px;
	color: white;
  font-family: var(--mmb-font-family-montserrat);
  font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	transition: box-shadow 0.3s ease;
}
.pricing .pricing-table-footer a:hover{
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/*responsive*/
@media(max-width: 991px){
	.pricing .pricing-table{
		width: calc(50% - 30px);
		margin-bottom: 30px;
	}
}
@media(max-width: 767px){
	.pricing .pricing-table{
		width: calc(100% - 30px);
	}
}
.pricing .pricing-table-price .amounts {
  background: var(--mmb-blue);
  padding: 65px 30px;
  color: var(--white);
  font-family: var(--mmb-font-family-montserrat);
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  display: block;
  width: 65%;
  height: 170px;
  box-shadow: 0px 3px 6px #0000006e;
  opacity: 1;
}



  
     
    
  
    

    
    
   
   