
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
  }
  /* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
    /* CSS Variables */
    :root {
    --mmb-black: #111111;
    --light-grey: #EFEFEF;
    --white: #FFFFFF;
    --mmb-grey: #B2B2B2;
    --mmb-red: #EA2428;
    --mmb-blue: #00BAD8;
    --mmb-color-707070: #707070;
    --mmb-font-family-montserrat: Montserrat;
    --mmb-font-style-normal: normal;
    --mmb-font-weight-bold: bold;
    --mmb-font-weight-medium: medium;
    --mmb-font-weight-normal: normal;
    --mmb-font-size-24: 24px;
    --mmb-font-size-30: 30px;
    --mmb-font-size-45: 45px;
    --mmb-font-size-60: 60px;
    --mmb-font-size-93: 93px;
    --mmb-character-spacing-0: 0px;
    --mmb-line-spacing-37: 37px;
    --mmb-line-spacing-60: 60px;
    --mmb-line-spacing-93: 93px;
    --nav-content-width: 1000px;
    --nav-height: 121px;
    --nav-link-height: 16px;
    --nav-font-color: #FFF;
    --link-hover-color: #28D;

      }
      body {
        font-family: "Roboto", sans-serf;
      }
      ul li {
        list-style-type: none;
      }
      
      a {
        text-decoration: none;
      }
      
      a:hover {
        color: var(--secondary-color);
      } 
      .top-bar h1{
        font-size: 20px;
      
      }
      .top-bar{
        background-color: var(--mmb-red);
        opacity: 1;
        width: 100%;
        height: 70px;
        top: 0px;
      }
      .top-bar h1 {
        font-size: 20px;
        color: var(--white);
        font-family: var(--mmb-font-family-montserrat);
        font-weight: 600;
        text-transform: capitalize;
        margin: 20px 0 20px 15px;
    }
    .top-bar img {
      margin: 20px 0 20px 15px;
    }
    .top-bar-content{
      display: flex;
      justify-content: right;
      padding-right: 50px; 
    }
  
    @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
      .top-bar h1 {
        font-size: 17px;
    }
    }

    .navigation {
      height: var(--nav-height);
      background: var(--white);
      box-shadow: 0 4px 13px rgb(0 0 0 / 5%);
      position: sticky;
  }
    
    /* Logo + navigation bar, restricted width */
    .nav-container {
      max-width: var(--nav-content-width);
      margin: 0 auto;
    }

    /* Logo */
    .brand img {
      position: absolute;
      padding-top: 40px;
      left: 168px;
      height: 88px;
    }
    @media (min-width: 481px) and (max-width: 768px){
      .brand img {
        position: absolute;
        margin-left: 30px;
        left: 2px;
        width: auto;
      }
      .button{
        width: 80%;
      }
  }
  @media (min-width: 280px) and (max-width: 320px){
    .brand img {
      position: absolute;
      margin-left: 15px;
      left: 2px;
      width: 45%;
    }
    .button{
      width: 80%;
    }
}
  @media (min-width: 320px) and (max-width: 480px){
    .brand img {
      position: absolute;
      margin-left: 30px;
      left: 2px;
      width: 45%;
    }
    .button{
      width: 80%;
    }
}
    @media (min-width: 768px) and (max-width: 1024px){
      .brand img {
        position: absolute;
        margin-left: 30px;
        left: 2px;
        width: auto;
      }
  }
  @media (min-width: 1025px) and (max-width: 1280px){
    .brand img {
      position: absolute;
      margin-left: 30px;
      left: auto;
    }
}
    @media (max-width: 798px) {
      .top-bar{
      display: none;
    }
  }
    .brand a,
    .brand a:visited {
      color: var(--mmb-blue);
      text-decoration: none;
    }
    
    /* Navigation bar */
    nav {
      width: 100%;
      padding: var(--nav-height) 0 15px;
    }
    nav .active {
      display: block;
      background-color: white;
    }
    /* 1st level */
    nav > ul {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav > ul > li {
      float: none;
      position: relative;
    }
    nav > ul > li a,
    nav > ul > li a:visited {
      display: block;
      padding: 15px;
      font-size: 20px;
      font-weight: 800;
      text-align: left;
      line-height: var(--nav-link-height);
      color: var(--mmb-blue);
      font-family: var(--mmb-font-family-montserrat);
      text-decoration: none;
    }
    nav > ul > li a:hover,
    nav > ul > li a:visited:hover {
      background: var(--white);
      color: var(--mmb-blue);
    }
    nav > ul > li a:not(:only-child):after,
    nav > ul > li a:visited:not(:only-child):after {
      padding-left: 4px;
      content: '\25BC';
    }
    /* 2nd level */
    nav > ul > li > ul {
      position: static;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 1;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    }
    nav > ul > li > ul > li {
      min-width: 190px;
    }
    nav > ul > li > ul > li a {
      padding: 15px 15px 15px 30px;
      line-height: var(--nav-link-height);
    }
  .button {
    background-color: var(--mmb-red);
    border: none;
    margin: 42px 5px;
    width: 100%;
    padding: 14px;
    font-size: 20px;
    border-radius: 30px;
    color: var(--white);
    font-family: var(--mmb-font-family-montserrat);
    font-weight: 800;
  }  
    /* Mobile navigation */
    .nav-mobile {
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
      background: var(--nav-background);
      height: var(--nav-height);
      width: var(--nav-height);
    }
    #nav-ham {
      position: absolute;
      left: 8px;
      top: 14px;
      cursor: pointer;
      padding: 10px 35px 10px 0px;
    }
    #nav-ham span,
    #nav-ham span:before,
    #nav-ham span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: var(--mmb-red);
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    #nav-ham span:before {
      top: -10px;
    }
    #nav-ham span:after {
      bottom: -10px;
    }
    #nav-ham.active span {
      background-color: transparent;
    }
    #nav-ham.active span:before,
    #nav-ham.active span:after {
      top: 0;
    }
    #nav-ham.active span:before {
      transform: rotate(45deg);
    }
    #nav-ham.active span:after {
      transform: rotate(-45deg);
    }
    
    @media screen and (min-width: 799px)  {
      nav {
        float: right;
        width: auto;
        padding: 0;
      }
      /* 1st level */
      nav > ul {
        display: block !important;
      }
      nav > ul > li {
        float: left;
      }
      nav > ul > li a,
      nav > ul > li a:visited {
        padding: 9px 25px 10px 0;
        line-height: var(--nav-height);
      }
      /* 2nd level */
      nav > ul > li > ul {
        position: absolute;
        display: none;
      }
      nav > ul > li > ul > li a {
        padding: 15px;
      }
      .nav-mobile {
        display: none;
      }
    }
    .left-side iframe{
      box-shadow: 0px 3px 6px #00000080;
      border-radius: 56px;
      width:538px;
      height:306px;
    }
    .header{
      display: flex;
      flex-direction: row;
      margin: 50px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .left-side {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(40% - 60px);
      margin: 20px 100px;
    }
    .title-text{
      font-size: var(--mmb-font-style-normal);
      font-weight: 600;
      padding-top: 55px;
      text-align: left;
      letter-spacing: 1.7px;
      font-size: 28px;
      color: var(--mmb-red);
      font-family: var(--mmb-font-family-montserrat);
    }
    .intro-text{
      color: var(--mmb-blue);
      font-size: 50px;
      text-align: left;
      font-family: var(--mmb-font-family-montserrat);
      font-weight: 700;
    }
   h3 {
      font-family: var(--mmb-font-family-montserrat);
      max-width: 60%;
      text-align: left;
    }
    @media (min-width: 320px) and (max-width: 479px){
    .header {
        margin: 20px;
      }
      }
    @media (min-width: 768px) and (max-width: 1024px){
        .left-side{
          margin: 20px 20px;
        }
        .left-side iframe {
          margin-top: 100px;
          width: 438px;
          height: 306px;

        }
        .header{
          flex-flow: row;
          margin: 0;
        }
        h3{
          max-width: none;
        }

    }
    @media (min-width: 1025px) and (max-width: 1562px){
     .left-side{
      margin: 20px 60px;
    }
    .left-side iframe {
      margin-top: 40px;

    }
    .header{
      flex-flow: row;
      margin: none;
    }
    h3{
      max-width: none;
    }
}
@media (min-width: 280px) and (max-width: 356px){
  .left-side iframe {
    width: 200px;
    height: 306px;
  }
  }
@media (max-width: 480px) and (max-width: 767px){
  .left-side{
    flex-basis: fit-content;
    margin: 20px 20px
  }
  .title-text{
    text-align: center;
  }
  .intro-text{
    text-align: center;
  }
 .sent{
    max-width: 100%;
    text-align: center;
  }
  .header{
    margin: 20px;
  }
  .left-side iframe {
    margin-top: 40px;
    width: 398px;
    height: 306px;
  }
  }
  @media (min-width: 320px) and (max-width: 479px) {
    .left-side{
      flex-basis: fit-content;
      margin: 20px 35px;
    }
    .title-text{
      text-align: center;
    }
    .intro-text{
      text-align: center;
    }
   .sent{
      max-width: 100%;
      text-align: center;
    }
    .header{
      margin: 20px;
    }
    .left-side iframe {
      margin-top: 40px;
      width: 250px;
      height: 306px;
    }  
  }
  
  .todo{
    color: var(--mmb-black);
    font-size: 29px;
    font-weight: var(--mmb-font-weight-bold);
    font-style: var(--mmb-font-style-normal);
    font-family: var(--mmb-font-family-montserrat);
  }
.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.heading .action-button{
  background: var(--mmb-red) 0% 0% no-repeat padding-box;
  width: 60%;
  color: white;
  font-family: var(--mmb-font-family-montserrat);
  height: 75px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-left: 10em;
  box-shadow: 0px 3px 6px #00000075;
  border: 1px solid #00000075;
  border-radius: 20px;
  font-size: 29px;
}

.row {
  display: flex;
    justify-content: space-evenly;
  flex-flow: wrap;
}

.card {
  width: 20%;
  height: 141px;
  background:var(--mmb-blue);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 0px 10px;
  margin-bottom: 50px;
  transition: 0.3s;
}
.card p {
  text-align: center;
  color: var(--white);
  font-size: 22px;
  padding: 18px;
  font-family: var(--mmb-font-family-montserrat);
  font-weight: var(--mmb-font-weight-bold);
}
.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #ff41ff, #ff4b2b);
  color: #fff;
}

.card-body {
  /* padding: 30px 20px; */
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff41ff, #ff4b2b);
  text-decoration: none;
  margin-top: 30px;
  padding: 10px 5px;
  transition: 0.3s;
}

.card-body .btn:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Responsive media queries */

@media screen and (max-width: 1000px) {
  .card {
    width: 30%;
  }
  .heading .action-button{
    padding: 20px;
    margin-left: 6em;
    font-size: 16px;
    height: 100px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 30px;
  }
  .heading .action-button{
    padding: 20px;
    margin-left: 4em;
    font-size: 16px;
    height: 100px;
  }

  .card {
    width: 80%;
  }
}

.icons{ 
  color: var(--mmb-blue);
  text-align: center;
 }
 .icon{
  color: white;
  text-align: center;
  margin-left:40px;
 }
 .fa-5x::after {
  font-size: 4em;
}
.heading h1{
  font-family: var(--mmb-font-family-montserrat);
  color: var(--mmb-black);
  text-align: center;
  color: #111111;
  opacity: 1;
  font-size: 20px;
  margin: 10px;

}
.typography{
  font-size: 20px;
  max-width: fit-content;
}

.gallery .one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/homecare-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/tele.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/images/clinicvisit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/jobs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../assets/images/emr-phr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-cell {
  width: 35%;
  height: 450px;
  margin-right: 20px;
  box-shadow: 0px 0px 8px #00000063;
  border-radius: 65px;
  opacity: 1;
}
@media (min-width: 320px) and (max-width: 480px) {
  .gallery-cell{
  width: 60%;
  height: 280px;
  border-radius: 45px;
  font-size: 30px;
  }
}
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.gallery p{
  color: var(--white);
  padding-top: 220px;
  font-family: var(--mmb-font-family-montserrat);
  font-weight: var(--mmb-font-weight-bold);
  font-size: 30px;
}
.flickity-page-dots .dot{
  background: var(--mmb-blue) !important;

}
.flickity-page-dots {
  bottom: -45px !important;
}

    
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.pricing{
	min-height: 100vh;
	--color-1:#5b58e8;
	--color-2:#ffc600;
	--color-3:#fc3c7f;
	--color-4:#3fb7ef;
}
.pricing .switch-table{
	width: 100%;
	padding:0 15px;
	text-align: center;
	margin-bottom: 35px;
}
.pricing .switch-table div,
.pricing .switch-table .custom-switch{
	display: inline-block;
}
.pricing .switch-table .text-monthly,
.pricing .switch-table .text-yearly{
	color: #ffffff;
	text-transform: capitalize;
	font-size: 18px;
	transition: color 0.3s ease;
}
.pricing .pricing-main:not(.active) .switch-table .text-monthly,
.pricing .pricing-main.active .switch-table .text-yearly{
	color: var(--color-4);
  font-family: var(--mmb-font-family-montserrat);
  font-weight: 600;
}
.pricing .switch-table .custom-switch{
	height: 40px;
	width: 100px;
	background-color: var(--color-4);
	border-radius: 30px;
	vertical-align: middle;
	margin:0 10px;
	position: relative;
	cursor: pointer;
}
.pricing .switch-table .toggle-switch{
	position: absolute;
	left:-9999px;
}
.pricing .switch-table .custom-switch span{
	display: inline-block;
	height: 28px;
	width: 28px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	left:6px;
	top:6px;
	transition: left 0.5s ease;
}
.pricing .pricing-main.active .switch-table .custom-switch span{
    left: calc(100% - 34px);
}
.pricing .pricing-table{
	background-color: #ffffff;
	width: calc((100% / 3) - 30px);
	margin:0 15px;
	border-radius: 10px;
	overflow: hidden;
  box-shadow: 0px 3px 12px #000000db;
}
.pricing .pricing-table-header{
	padding: 15px 100px;
  color: var(--mmb-blue);
}
.pricing .style-1 .pricing-table-body ul li i.fa-check,
.pricing .style-1 .pricing-table-footer a,
.pricing .style-1 .pricing-table-header{
  background: var(--mmb-red)
}
.pricing .style-2 .pricing-table-body ul li i.fa-check,
.pricing .style-2 .pricing-table-footer a,
.pricing .style-2 .pricing-table-header{
   background-color: var(--mmb-blue);
   border: 1px solid var(--unnamed-color-707070);
}
.pricing .style-3 .pricing-table-body ul li i.fa-check,
.pricing .style-3 .pricing-table-footer a,
.pricing .style-3 .pricing-table-header{
   background-color: var(--mmb-red);
}
.pricing .pricing-table-header h3{
	font-size: 30px;
	color: var(--white);
	text-transform: capitalize;
	font-weight: 600;
	text-align: center;
}
.pricing .pricing-table-price{
	padding: 20px 0;
	display: flex;
}
.pricing .yearly-price,
.pricing .monthly-price{
	display: flex;
	padding: 0 30px;
	justify-content: center;
	width: 100%;
	flex-shrink: 0;
	transition: all 0.5s ease;
}
.pricing .pricing-main.active .yearly-price,
.pricing .pricing-main.active .monthly-price{
   transform: translateX(-100%);
}

.pricing .pricing-table-price .currency{
	font-size: 25px;
	color: #555555;
	font-weight: 700;
	line-height: 1;
}
.pricing .pricing-table-price .amount{
  background: var(--mmb-red);
  padding: 65px 30px;
  color: var(--white);
  font-family: var(--mmb-font-family-montserrat);
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  display: block;
  /* width: 65%; */
  height: 170px;
  box-shadow: 0px 3px 6px #0000006e;
  opacity: 1;
}

.pricing .pricing-table-body{
	padding:0 30px;
}
.pricing .pricing-table-body ul li{
	font-weight: 300;
	color: black;
	margin-bottom: 15px;
	position: relative;
	padding-left: 30px;
  font-family: sans-serif;
}
.pricing .monthly-features,
.pricing .yearly-features{
	display: none;
}
.pricing .pricing-main:not(.active) .monthly-features,
.pricing .pricing-main.active .yearly-features{
   display: block;
   animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.pricing .pricing-table-body ul li:last-child{
	margin-bottom: 0;
}
.pricing .pricing-table-body ul li i{
	display: flex;
	height: 20px;
	width: 20px;
	background-color: var(--mmb-red);
	color: #ffffff;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 13px;
	position: absolute;
	left:0;
	top:3px;
}
.pricing .pricing-table-footer{
	padding: 30px;
	text-align: center;
}
.pricing .pricing-table-footer a{
	display: inline-block;
	padding: 12px 35px;
	color: white;
  font-family: var(--mmb-font-family-montserrat);
  font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	transition: box-shadow 0.3s ease;
}
.pricing .pricing-table-footer a:hover{
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/*responsive*/
@media(max-width: 991px){
	.pricing .pricing-table{
		width: calc(50% - 30px);
		margin-bottom: 30px;
	}
}
@media(max-width: 767px){
	.pricing .pricing-table{
		width: calc(100% - 30px);
	}
}
.pricing .pricing-table-price .amounts {
  background: var(--mmb-blue);
  padding: 65px 30px;
  color: var(--white);
  font-family: var(--mmb-font-family-montserrat);
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  display: block;
  /* width: 65%; */
  height: 170px;
  box-shadow: 0px 3px 6px #0000006e;
  opacity: 1;
}
.heading .about-content {
  font: var(--unnamed-font-style-normal);
  font-family: var(--mmb-font-family-montserrat); 
  font-weight: var(--mmb-font-weight-medium);
  font-size:16px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--mmb-black);
  text-align: center;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  margin: 10px 190px;
  line-height: 20px;
  justify-content: center;
}
.heading img{
  width: 60%;
  height: 400px;
}

@media (min-width: 320px) and (max-width: 612px){
  .heading .about-content {
    margin: 5px 30px;
    justify-content: center;
    max-width: 80%;
  }
}

img {
  max-width: 100%;
}




@import "compass/css3";

/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #515151;
  font-size: 100%;
  font-family: "Corporate S W01";
}

a {
  color: #79b6e4;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-testimonials-wrapper {
  position: relative;
  width: 80%;
  max-width: 768px;
  /* background-color: #de373f; */
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1;
}

.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  /* margin-left: -25px; */
  background: rgba(32, 32, 34, 0.9);
  background: #e30613;
  font-family: "Georgia", serif;
  color: white;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 1em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: white;
  text-align: center;
}
.cd-testimonials:after {
  content: "";
  display: table;
  clear: both;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-family:'Adobe Garamond W01',serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}

.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: var(--mmb-black);
}
@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: rgba(37,37,37,0.1);
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: var(--mmb-black);
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    /* background-color: #5e5e63; */
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: var(--mmb-black);
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgba(37, 37, 37, 0.2);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}
.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
  position: relative;
  background: rgba(37,37,37,0.7);
  color: white;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: rgba(37,37,37,0.7);
}
.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em;
  }
  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.two-column-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.colum-content {
  justify-content:center;
  align-items:center;
  margin-left: 10em;
}
.colum-content p{
font-weight: var(--mmb-font-style-normal);
font-size: var(--mmb-font-size-20);
font-family: var(--mmb-font-family-montserrat);
letter-spacing: var(--mmb-character-spacing-0);
color: var(--mmb-red);
text-align: center;
letter-spacing: 0px;
color: var(--mmb-black);
opacity: 1;
}
.devices{
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

@media (min-width: 320px) and (max-width: 600px){
  .two-column-flex {
    flex-direction: column;
}
  }
  .colum-content {
    margin: 2em;
  }
  .cd-testimonials-wrapper {
    width: 100%;
    margin: 2em auto;
 
}

  @media (min-width: 600px) and (max-width: 1024px){
    .cd-testimonials-wrapper {
      width: 100%;
      margin: auto;
  }
}

.rowz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8%;
  
}

/* Create four equal columns */
.column {
  /* flex: 3%; */
  margin:20px;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 5px solid var(--mmb-red);
}
.column h2{
  font-size:50px;
  text-align:center;
  margin:50px;
  /* color: var(--mmb-blue); */
  font-family: var(--mmb-font-family-montserrat);
  font-weight: var(--mmb-font-weight-medium);
}
.column p{
  font-size:20px;
  text-align:center;
  /* margin:50px; */
  white-space: nowrap;
}

.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: var(--mmb-red);
    color: #fff;
    /* clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 98%, 0% 38%); */
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #FFFFFF;
}

.footer-content-column ul li a {
  color: #FFFFFF;
  text-decoration: underline;
line-height: 23px;

}

.footer-logo-link {
    display: inline-block;
}

.footer-logo .footer-logo-link img{
  width: 60%;

}
.footer-menu {
    margin-top: 30px;
}
.footer-menu p {
  font-size: 15px;
  font-family: var(--unnamed-font-family-montserrat);
  font-weight: var(--mmb-font-weight-medium);
  line-height: 22px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list  {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000094;
  border-radius: 20px;
  color: var(--mmb-red);
  display: inline-block;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}
.footer-icons .fa{
opacity: 1;
width: 39px;
height: 49px;
font-size: 20px;
color: var(--white);
}
.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: var(--mmb-red);
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: var(--mmb-red);
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
/* #scrollToTopBtn {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
} */


